<div class="container">
    <h2>Passenger Details Form</h2>
    <form [formGroup]="flightDetails" (ngSubmit)="onSubmit()">
        <app-details formGroupName="personalData" [email]='true' (data)="passengerDetails($event)"></app-details>
        <div class="form-group">
            <label>Do you have any children?</label>
            <div class="container">
                <input #radio (change)="clickRadio()" type="radio" name="radio" id="radio" value="Yes" /> Yes
                <input #radio (change)="clickRadio()" type="radio" name="radio" id="radio" Value="No" /> No
                <input *ngIf="valueRadio" type='number' Placeholder="How many chldren do you have?"
                    [(ngModel)]="numberOfChild" [ngModelOptions]="{standalone: true}">
                <button *ngIf="valueRadio" class="btn btn-primary" type="button" (click)="childDetail()">Enter child
                    details</button>
            </div>
            <div *ngIf="valueRadio">
                <div *ngFor="let i of childDetails; let index = index" class="container">
                    <label>Enter child {{index +1}} details</label>
                    <app-details formGroupName="personalData" [email]='false' (data)="childrenDetails($event)">
                    </app-details>
                </div>
            </div>
            <span *ngIf="submitted && valueRadio===undefined" class="form-error">This is Required</span>
        </div>
        <button [disabled]="!(flightDetails.valid && clicked)" type="submit"
            class="btn btn-primary">Submit</button>
    </form>
    <pre>Button is disabled if the form is not valid</pre>
</div>
<div *ngIf="submitted" class="container">
    <div *ngIf="allDetails">
        <h4>Entered Details:</h4>
        First Name: {{allDetails.firstName}},<br>
        Last Name: {{allDetails.lastName}},<br>
        email: {{allDetails.email}},<br>
        children: {{childrenIf}}<br>
        <span *ngIf='valueRadio'>
            Number of Children: {{allDetails.numberOfChildren}} <br>
            Details of Children:
            <table class="table">
                <tr>
                    <th>First Name</th>
                    <th>Last Name</th>
                </tr>
                <tr>
                    <td>{{childDetails[0]?.firstName}}</td>
                    <td>{{childDetails[0]?.lastName}}</td>
                </tr>
            </table>

        </span>
    </div>
</div>